<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>zevarito.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>Publish Token URL</key>
	<string>${PUBLISH_TOKEN_URL}</string>
	<key>Publish Token Method</key>
	<string>${PUBLISH_TOKEN_METHOD}</string>
	<key>Publish Token POST JSON</key>
	<dict/>
	<key>Publish Token JSON Namespace</key>
	<string>${PUBLISH_TOKEN_JSON_NAMESPACE}</string>
	<key>Publish Token JSON Field</key>
	<string>${PUBLISH_TOKEN_JSON_FIELD}</string>
	<key>Subscribe Token URL</key>
	<string>${SUBSCRIBE_TOKEN_URL}</string>
	<key>Subscribe Token Method</key>
	<string>${SUBSCRIBE_TOKEN_METHOD}</string>
	<key>Subscribe Token POST JSON</key>
	<dict/>
	<key>Subscribe Token JSON Namespace</key>
	<string>${SUBSCRIBE_TOKEN_JSON_NAMESPACE}</string>
	<key>Subscribe Token JSON Field</key>
	<string>${SUBSCRIBE_TOKEN_JSON_FIELD}</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
